@use "sass:map";
@import 'variables.module';

html,
body {
	scroll-behavior: smooth;
	@include scrollbars(10px, $secondary-color, $grey);
}

body {
	margin: 0;
	background: $light;
	color: $dark;

	&.dark {
		background: map-get($theme-colors, 'grey-100');
		color: $light;

		main {
			background: $dark;
		}
	}

	main {
		background: $light;
	}

	.bg-primary-gradient {
		background: linear-gradient(45deg, $primary-color, $primary-grey);
	}

	.bg-secondary-gradient {
		background: linear-gradient(45deg, $secondary-color, $secondary-grey);
	}

	.bg-gradient {
		background: linear-gradient(45deg, $brand-color, $secondary-color);
	}

	.modal-header .close {
		outline: none;
	}

	.hero-text {
		@include font-size(4rem);
		max-width: 500px;
	}

	.hero-sub {
		@include font-size(1.5rem);
	}

	.about-title {
		@include font-size(2.5rem);
	}

	.slide-title {
		@include font-size(3.25rem);
	}
}
